.main-container{
  background-color: #e6e6e6;
}
.attorney_at_law{
  background-image: url("../img/logo.png");
  background-size: cover;
  height: 158px;
  width: 339px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 45px

}
.advocate_pic{
  background-image: url("../img/back-600x600.jpg");
  height: 400px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
}
#navigation{
  background-color:@gazan ;
  padding-left:10px;
  padding-right: 10px;
  min-height:100px;
  color:#fff;
  ul{
    padding-left:0;
  }
}
.menu-items{
  position: relative;
  float: left;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  width: 48%;
  margin-left: 5px;
  border-bottom: 1px solid #fff;
  padding:0.5px;
}
.callback{
  font-size: 20px;
  background-color: @gazan;
  width: 200px;
  text-align: center;
  color: #fff;
}
.welcome-our-site-div {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  margin-top:50px;
  margin-bottom: 30px;
}
.welcome-our-site-span{
  background-image: url("../img/title_bg.png");
  padding-top:10px;
  border-top: 4px solid @gazan ;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.under-thumbnail-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.addres-mail{
  margin-top:30px;
}