#owl-demo{
  img{
    height:70px;
    width:70px;
    margin-left:28px;
  }
  .item{
    margin-left:35px;
  }
}
.lawyer-05{
  background-image: url("../img/lawyer-05.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
}
.justify{
  text-align: justify;
}