#owl-demo{
  img{
    height:70px;
    width:70px;
    margin-left:28px;
  }
  .item{
    margin-left:35px;
  }
}
.lawyer-05{
  background-image: url("../img/lawyer-05.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
}
.justify{
  text-align: justify;
}

.welcome-header{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}
.caption p a{
  font-weight:bold;
}
.bg-purple{
  background-color: @gazan;
  color:#fff;
  min-height:380px;
}
.bg-purple:hover{
  animation-name: bgtrans;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Standard syntax */
@keyframes bgtrans {
  from {background-color: @gazan;}
  to {background-color: #9D979A;}
}