html {
  position: relative;
  min-height: 100%;
}

.content-info { }

.partners-img{
  float:left;
  margin-left:30px;
}
.footer-under-div{
  min-height:180px;
  background-color:@gazan ;
}
.footer-right-menu {
   color: #fff;
  margin-top: 50px;
}
.footer-left-logo {
  margin-top: 50px;
  color: #fff;
}
.follow-icons{
  display:table-row;
}
.disclaimer-div {
  a{
    color:#fff;
  }
  a:hover{
    text-decoration:none;
  }
}
/*.disclaimer-div > .disclaimer:first-child:before {
  content: ' ';
}
*/