.banner { }
.language-icons{
  float:right;
  margin-right:25px;
  color:#DCDADA;
  font-size:15px;
  cursor:pointer;
}
.language-active{
  color:#9A9595;
}
.search_line{
  margin-top:10px;
  margin-bottom:10px;
}
.search-text{
  padding-top:6px;
}
.navbar{
  margin-bottom:0px;
  min-height:35px;
  background-color: #703E5B;
}
.navbar-static-top{
  border-width:0
}

.main-container{
  background-color: #e6e6e6;
}
.attorney_at_law{
  background-image: url("../img/logo.png");
  background-size: cover;
  height: 158px;
  width: 339px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 5px;
  margin-bottom:30px;

}
.advocate_pic{
  background-image: url("../img/VARDAN_Background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height:400px;

}
#navigation{
  background-color:@gazan ;
  padding:5px;
  min-height:120px;
  color:#fff;
  ul{
    padding-left:0;
  }
}
.menu-items-ul li{
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  width: 46%;
  border-bottom: 1px solid #fff;
  padding: 2px;
  margin-left: 9px;
  cursor: pointer;
  font-weight: bold;
}
.menu-items-ul li:nth-child(9),.menu-items-ul li:nth-child(10){
  border-bottom: 0;
}
.menu-items:hover{
  color:#9A9595;
}
.callback{
  font-size: 20px;
  background-color: @gazan;
  width: 200px;
  text-align: center;
  color: #fff;
  margin: 15px 0px 15px 0px;
}
.welcome-our-site-div {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  margin-top:50px;
  margin-bottom: 30px;
}
.welcome-our-site-span{
  background-image: url("../img/title_bg.png");
  padding-top:10px;
  border-top: 4px solid @gazan ;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.under-thumbnail-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.addres-mail{
  margin-top:30px;
}
.header-contacts-phone {
  font-size: 17px;
  padding-left: 25px;
  background-image: url(../img/phone-icon-new.png);
  background-position: left 2px;
  margin-bottom: 8px;
  background-size: 18px;
  background-repeat: no-repeat;

}
.header-contacts-email{
  font-size: 14px;
  color: #000;
  padding-left: 25px;
  margin-bottom: 8px;
  background-image: url(../img/email-icon-new.png);
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: underline;
  background-size: 18px;
}
.header-contacts-location {
  font-size: 14px;
  padding-left: 25px;
  margin-bottom: 6px;
  background-image: url(../img/location-icon-new.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-bottom: 2px;
  background-size: 16px;
  font-weight: bold;
}
.header-ul-about{
  li{
    list-style: initial;
    font-size: 15px;
  }
  padding-left:20px;
}
#lang_sel_list{
  float:right;
  a{
    margin-left: 25px;
    font-size: 15px;
    background: transparent !important;
    color: #fff !important;
  }
  .lang_sel_sel{
    color:#ccc !important;
  }
}
.thumbnail{
  img{
    max-height:160px;
  }
}